-----BEGIN CERTIFICATE-----
MIIDtjCCAp6gAwIBAgIJALOWldwRcPFZMA0GCSqGSIb3DQEBBQUAMG8xCzAJBgNV
BAYTAlZOMQwwCgYDVQQIDANOL0ExDzANBgNVBAcMBlNhaWdvbjEPMA0GA1UECgwG
Y2V6bGFiMQ8wDQYDVQQDDAZjZXpsYWIxHzAdBgkqhkiG9w0BCQEWEGFkbWluQGNl
emxhYi5jb20wIBcNMTgxMTI4MTA1MzE0WhgPMjExODExMDQxMDUzMTRaMG8xCzAJ
BgNVBAYTAlZOMQwwCgYDVQQIDANOL0ExDzANBgNVBAcMBlNhaWdvbjEPMA0GA1UE
CgwGY2V6bGFiMQ8wDQYDVQQDDAZjZXpsYWIxHzAdBgkqhkiG9w0BCQEWEGFkbWlu
QGNlemxhYi5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCZegRM
3C4AlxEzpQHV6hNG9QYk1/hdjWic3YOJQwan4DT15rHjKzYX2sVugExD1bnA5g4+
qwt/gn5LpELrqEfI2LBw5+nGlBnAJx+aRjb+diPIjlJfHE/2vlXMWjsFKEa6dw7l
/xa/QU3sTgpO1dDs2/l18m72XANTULY5hx4WPlToSlymtV3LeLUwkRnq9Zo4CrQ9
i811Eg1jyXcuhx/YAcXHvR+oIDjX2kN1ZkKl87Zv+CBCAPwOagHVRnuqPEU2I7bi
X6lC98VCELF4IkKYo1tNAJ9+Fqb/acezldIx8JNJ4o3OHZVcw5UtHXUVCxatHU2f
Z6K/MkDst7f0qISdAgMBAAGjUzBRMB0GA1UdDgQWBBTMF3gwX0EdVQaBxy6YCBFH
zy3RrDAfBgNVHSMEGDAWgBTMF3gwX0EdVQaBxy6YCBFHzy3RrDAPBgNVHRMBAf8E
BTADAQH/MA0GCSqGSIb3DQEBBQUAA4IBAQAYWLdNzQV1LXntcXNbHLj0d+2X/u6d
SFzBZidwclvWTbXwF9lgV1ABPIok8smHkVwvTD2usYEym7eZzkNExyp2HiOhxT5B
60ujS126LU50nlgA6Zh+Dntvi83rG5NUz9qeI8CSZKScsQAa6gOliS0sumK30cOe
Jz/DBWgqM607jGR5RRK+e/UgAtwpwM+MvX/nyGWZEy86U1WVCBXKAlBInrr8MmFa
4CZ+MHCqvGtB6tHvTraCSytbkonmnMMNbnDTJu2nx4UQ5OvJaF5DQCdueliuglWF
llAt4hkOV1rxlFbOs43x11/NwrBLy6C6B4bmSangVQMQnPJLWlNc4ys0
-----END CERTIFICATE-----
